# Python
**Python** is a high-level, versatile and popular programming language known for its simplicity and readability. Python was created in the late 1980s by Guido van Rossum, a Dutch programmer. It was developed as a successor to the ABC language and was designed with the goal of being a readable, easy-to-use language with a clear and straightforward syntax. Python's first official release, Python 0.9.0, was made available in February 1991. Over the years, it has evolved into a powerful and popular language.

---

**Features of Python:**

1. **Readability:** Python's syntax is easy to read and write, making it accessible for beginners. It uses indentation to define code blocks, which enforces clean and consistent coding practices.

2. **Versatility:** Python is a general-purpose language, suitable for a wide range of applications, from web development and data analysis to artificial intelligence and scientific computing.

3. **Extensive Standard Library:** Python comes with a vast standard library that provides modules and functions for various tasks, reducing the need for writing code from scratch.

4. **Interpreted Language:** Python is an interpreted language, which means you can run code line by line, making it great for prototyping and debugging.

5. **Dynamic Typing:** Python is dynamically typed, which means you don't need to specify variable types explicitly. This enhances flexibility and simplifies coding.

6. **Community Support:** Python has a large and active community, which means there are numerous resources, libraries, and frameworks available for developers.

7. **High-level Language:** Python abstracts many low-level details, making it more accessible and reducing the time needed to develop applications.

**What Sets Python Apart:**

1. **Readability and Minimalistic Syntax:** Python's code is highly readable, with an emphasis on simplicity and minimizing code verbosity. This sets it apart from languages with complex syntax.

2. **Cross-Platform Compatibility:** Python is compatible with various platforms, which makes it a versatile choice for multi-platform development.

3. **Extensive Ecosystem:** Python has a rich ecosystem of libraries and frameworks, particularly in the fields of data science and machine learning. Libraries like NumPy, Pandas, and TensorFlow are widely used.

**Applications of Python:**

Python finds applications in a wide array of fields, aligning with your interests:

1. **Web Development:** Frameworks like Django and Flask make it easy to build web applications.

2. **Data Science:** Python is the go-to language for data analysis, with libraries such as Pandas, NumPy, and scikit-learn.

3. **Machine Learning and AI:** Python offers powerful tools like TensorFlow, PyTorch, and scikit-learn for creating machine learning models.

4. **Scientific Computing:** Python is widely used in scientific research, especially in fields like astronomy and biomedical sciences, thanks to libraries like SciPy.

5. **Quantum Physics:** Python is used for simulating quantum systems and analyzing experimental data in quantum physics research.

---

# Python I
0. `"hello, world"`
1. Variables and Data-Types
2. Input and Output
3. Operators
4. Conditional Statements
5. Loop Statements
6. String Methods
7. Functions I
8. Advanced Data-Types

In [1]:
print("hello, world")

hello, world

In [2]:
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

## Variables and Data-Types

In [3]:
age = 21 # int
temp_f = -32 # int

weight = 63.5 # float
mass_electron = 9.1093837e-31 # float

company_name = 'ADNIA' # string
sentence = "The five boxing wizards jump quickly." # string

# multiple assignment
isAged, hasLegs = False, True # boolean

In [4]:
# we can check data-type of any object/variable using `type()`
type(mass_electron)

float

**Note:** `None` is also a data-type in python that stores and returns None value i.e. **nothing**. It is similar to `void` keyword in many languages.

## Input and Output

In [5]:
# taking input
name = input("What is your name?")
city = input("Where are you from?")

# giving output
print(f"Hello {name} from {city}!") # these are called f-strings

What is your name? Danish
Where are you from? Hyderabad

Hello Danish from Hyderabad!

**Note:** There are 2 more methods in python to output data, but **f-strings** are by-far the best and most powerful implementation to do so.

## Operators

In [6]:
# arithmetic operators 1
5+9 # add
96-489 # subtract

52*14 # multiply
95/74 # divide

1.2837837837837838

In [7]:
# arithmetic operators 2
12**3 # power

18%5 # modulo
18//8 # quotient

2

In [8]:
# assignment operator
iterator = 62
iterator += 40
iterator

102

**Note:** Assignment operator isn't just limited to addition, it can do all the above arithmetic operations.

In [9]:
# bitwise operators
52&12 # bitwise AND
46|5 # bitwise OR
~76 # bitwise NOT
8^9 # bitwise XOR

46<<1 # bitwise left-shift
46>>1 # bitwise right-shift

23

**Note:** Other than this, we also have built-in functions which we can use to make our programs easier.

In [10]:
abs(-856)

max(52,96,41,852,45,853)
min(52,96,41,852,45,853)

41

In [11]:
round(4165.528) # rounds to nearest decimal
round(4165.528, 2) # rounds to 2nd decimal value
round(4165.528, -2) # rounds to 100s place

4200.0

**Note:** We can also access functions in a module called `math` which houses many math related functions and values.

In [12]:
import math

a = int(input("Enter length of side \'a\': "))
b = int(input("Enter length of side \'b\': "))

c = math.sqrt(pow(a,2)+pow(b,2))
print(f"{round(c,2)} is the length of the hypotenuse.")

Enter length of side 'a':  6
Enter length of side 'b':  4

7.21 is the length of the hypotenuse.

**Note:** **Type-casting** is the process through which we can convert a variable of a data-type into another data-type. In the above example we have explicitely type-casted the side length of triangle from `string` to `int` by calling `int()` method.

**Exercise:** Find the distance and angle an arrow must be shot to hit bullseye as set by the user. Assume there is no gravity.

In [13]:
x_coor = float(input("Enter X coordinate where you want the bullseye to be at: "))
y_coor = float(input("Enter Y coordinate where you want the bullseye to be at: "))

r = math.dist((x_coor,y_coor),(0,0))
phi = math.atan((y_coor/x_coor))

print(f"The arrow has to travel a distance of {round(r,2)}m in {round(math.degrees(phi),2)}° direction.")

Enter X coordinate where you want the bullseye to be at:  2
Enter Y coordinate where you want the bullseye to be at:  9

The arrow has to travel a distance of 9.22m in 77.47° direction.

## Selection Control Structure (Branching)

In [14]:
# if-elif-else statement
yearly_compensation = int(input("Enter your yearly compensation: "))

if yearly_compensation > 1_500_000:
    print(f"You have to pay {yearly_compensation*0.3:,.2f} in taxes.")
elif yearly_compensation > 1_250_000:
    print(f"You have to pay {yearly_compensation*0.25:,.2f} in taxes.")
elif yearly_compensation > 1_000_000:
    print(f"You have to pay {yearly_compensation*0.2:,.2f} in taxes.")
elif yearly_compensation > 750_000:
    print(f"You have to pay {yearly_compensation*0.15:,.2f} in taxes.")
elif yearly_compensation > 500_000:
    print(f"You have to pay {yearly_compensation*0.1:,.2f} in taxes.")
elif yearly_compensation > 250_000:
    print(f"You have to pay {yearly_compensation*0.05:,.2f} in taxes.")
else:
    print(f"You have to pay {yearly_compensation:,.2f} in taxes.")

Enter your yearly compensation:  5648854418

You have to pay 1,694,656,325.40 in taxes.

**Note:** An `if` statement when evalued to `True`, after completing the action breaks out of the current conditional block. But if there are multiple `if` statements, then the implementation doesn't break until after all the `if` statements are evaluated. The same doesn't apply to `elif` and `else`.

In [15]:
# multiple if statements
age = int(input("Enter your age: "))

if age >= 60:
    print("You are eligble for pension.")
if age >= 21:
    print("You are permitted to drink.")
if age >= 18:
    print("You are allowed to vote.")
else:
    print("You can't do much, go and study.")

Enter your age:  21

You are permitted to drink.
You are allowed to vote.

**Note:** We can use `pass` keyword as well when we don't want any action.

In [16]:
# match case statement
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
operator = input("Enter a symbol + - * / ** % //: ")

match operator:
    case '+': print(f"{num1+num2}")
    case '-': print(f"{num1-num2}")    
    case '*': print(f"{num1*num2}")    
    case '/': print(f"{num1/num2}")
    case '**': print(f"{num1**num2}")
    case '%': print(f"{num1%num2}")    
    case '//': print(f"{num1//num2}")    
    case _: print("Invalid Operator!") # this is the default case

Enter a number:  5
Enter another number:  96
Enter a symbol + - * / ** % //:  /

0.052083333333333336

**Exercise:** Write a program that checks if a given year is a leap year or not.

In [17]:
year = int(input("Enter year: "))

if year%400==0:
    print(f"{year} is a leap year.")
else:
    if year%4==0 and year%100!=0:
        print(f"{year} is a leap year.")
    else:
        print(f"{year} is not a leap year.")

Enter year:  2004

2004 is a leap year.

**Note:** Similarly we can use `or` and `not` statements as well to evaluate conditions.

## Repetitive Control Structure (Looping)

In [18]:
# while loop
action = input("Enter p to play or q to quit: ")

while action!='q':
    print("You are still in the game.")
    action = input("Enter p to play or q to quit: ")

print("You have quit the game.")

Enter p to play or q to quit:  p

You are still in the game.

Enter p to play or q to quit:  p

You are still in the game.

Enter p to play or q to quit:

You are still in the game.

Enter p to play or q to quit:  q

You have quit the game.

**Note:** The above is also called an **Infinite Loop** as is evaluates to `True` until provided otherwise.

In [19]:
# for loop
for i in reversed(range(6)):
    print(i, end=' ')

for i in "alpha-go":
    print(i, end=' ')

5 4 3 2 1 0 a l p h a - g o

In [20]:
# break, pass and continue keywords

for i in range(1,11):
    if i == 2:
        continue # skips over 2
    elif i == 5:
        pass # doesn't do anything because pass keyword is as good as None
        print('helo', end=' ')
    elif i == 8:
        break # exits the loop when evaluated True
    else:
        print(i, end=' ')

1 3 4 helo 6 7

**Exercise:** Check if a number is prime or not.

In [21]:
import math
num = int(input("Enter number: "))

for i in range(3,int(num/2)):
    print(i)
    if num%i!=0:
        print("number is prime")
        break
    else:
        print("number not prime")
        continue

Enter number:  554

3
number is prime

## String Methods

In [22]:
sentence = "The quick brown fox jumps over the lazy dog 452 698"

In [23]:
len(sentence) # returns length of string
sentence.find('o') # returns index of 1st occurance
sentence.count('o')
sentence.title()
sentence.split('e')
sentence = sentence.replace(' ', '')

In [24]:
sentence.isalnum()
sentence.isascii()

True

**Exercise:** Write a program to check validity and strength of password.

In [25]:
password = input("Enter password: ")

if len(password)>=8 and len(password)<=20:
    if password.isalnum():
        print("Valid password")
    else:
        print("Invalid password")
else:
    print("Invalid password")

Enter password:  19oct2019jn

Valid password

### String Indexing

In [26]:
sentence

'Thequickbrownfoxjumpsoverthelazydog452698'

In [27]:
# indexing
sentence[10]
sentence[-7]

'g'

In [28]:
# slicing 1
sentence[:6]
sentence[5:]

'ickbrownfoxjumpsoverthelazydog452698'

In [29]:
# slicing 2
sentence[::2]
sentence[::-1]

sentence[2:35:3]

'eibwousehad'

**Exercise:** Return the username and email provider of user after they enter their Email ID.

In [30]:
email_id = input("Enter your email: ")

index = email_id.index('@')
username = email_id[:index]
domain = email_id[index+1:email_id.index('.')]

print(f"{username} is your username and {domain} is your email provider.")

Enter your email:  danish454ahmed@gmail.com

danish454ahmed is your username and gmail is your email provider.

**Exercise:** Write a program that validates credit card number.

In [31]:
cc_number = input("Enter credit card number: ")
sum_odd_dig, sum_even_dig = 0,0

cc_number = cc_number.replace(' ', '')
cc_number = cc_number.replace('-', '')
cc_number = cc_number[::-1]

for i in cc_number[::2]:
    sum_odd_dig += int(i)

for i in cc_number[1::2]:
    i = int(i) * 2
    if i>=10:
        sum_even_dig += (1+(i%10))
    else:
        sum_even_dig += i

total = sum_even_dig + sum_odd_dig

if total%10==0:
    print("It is a valid credit card number.")
else:
    print("It is not a valid credit card number.")

Enter credit card number:  534848415418451

It is not a valid credit card number.

Test with 4012888888881881 and 5105105105105100

### Format Specifiers

In [32]:
price1 = 14565200.985
price2 = -526.56235879
price3 = 729.41

In [33]:
print(f"Price is د. ع{price1: ,}") # thousands separator
print(f"Price is د. ع{price2: .2f}") # decimal limiter
print(f"Price is د. ع{price3: }") # leaves space for sign

Price is د. ع 14,565,200.985
Price is د. ع-526.56
Price is د. ع 729.41

## Functions I

In [34]:
def greet_ntimes(n):
    for i in range(n):
        print("G'Mornin")

In [35]:
greet_ntimes(3)

G'Mornin
G'Mornin
G'Mornin

**Exercise:** Write a program that returns the factorial of a given number.

In [36]:
def factorial(n):
    total = 1
    for i in range(2,n+1):
        total *= i
    
    return total

In [37]:
factorial(10)

3628800

In [38]:
# positional arguments
def net_price(list_price, discnt, tax):
    return list_price * (1-discnt) * (1+tax)

In [39]:
net_price(1500, 0.1, 0.025)

1383.7499999999998

In [40]:
# default arguments
def net_price(list_price, discnt=0.0, tax=0.025):
    return list_price * (1-discnt) * (1+tax)

**Note:** Default arguments should always succeed non-default arguments.

In [41]:
net_price(500)

512.5

In [42]:
net_price(500, 0.1, 0.0)

450.0

In [43]:
# keyword arguments
def roll_no(college_code, batch, branch_code, uni_id):
    print(f"{college_code}-{batch}-{branch_code}-{uni_id}")

In [44]:
roll_no(batch=21, uni_id=65, college_code=1604, branch_code=735)

1604-21-735-65

In [45]:
# arbitrary arguments
def display_name(*args):
    for arg in args:
        print(arg, end=' ')

In [46]:
display_name('Dr.', 'Prof.', 'Danish', 'Ahmed', 'I')

Dr. Prof. Danish Ahmed I

**Note:** `*args` allows us to pass in multiple arguments.

In [47]:
# keyword arguments
def address(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [48]:
address(street='gudimalkapur', area="mehdipatnam", pincode=500028, city='hyderabad', state='telangana')

street: gudimalkapur
area: mehdipatnam
pincode: 500028
city: hyderabad
state: telangana

**Exercise:** Create a shopping label for Amazon

In [49]:
def shipping_label(*args, **kwargs):
    for arg in args:
        print(arg, end=' ')
    print()
    print(f"+91{kwargs.get('phone_no')}")
    print(f"{kwargs.get('house_no')} {kwargs.get('colony')}")
    print(f"{kwargs.get('locality')}")
    print(f"{kwargs.get('area')} {kwargs.get('pincode')}")
    print(f"{kwargs.get('city')}")
    print(f"{kwargs.get('state')}")
    print(f"{kwargs.get('country')}")

In [50]:
shipping_label('Dr.', 'Prof.', 'Danish', 'Ahmed', 'I',
              phone_no=9059119507, house_no='12-2-417/46/1/b',colony='sharda nagar',
              locality='guddimalkapur', area='mehdipatnam',
              pincode=500028, city='hyderabad', state='telangana',
              country='india')

Dr. Prof. Danish Ahmed I
+919059119507
12-2-417/46/1/b sharda nagar
guddimalkapur
mehdipatnam 500028
hyderabad
telangana
india

**Note:** Variable Scope Resolution
> Local
>> Enclosed
>>> Global
>>>> Built-In

## Advanced Data-Types

### List

In [51]:
fruits = ['apple','banana','orange','strawberry','mango']

In [52]:
vegetables = ['potato','tomato']

In [53]:
# indexing
fruits[4]
fruits[-2]

# slicing
fruits[2:4]
fruits[::-2]

['mango', 'orange', 'apple']

In [54]:
len(fruits)
fruits.index('orange')
fruits.count('potato')

fruits.pop() # removes last element in list (LIFO)
fruits.remove('apple') 

fruits.append('cherry')
fruits.insert(2, 'avocado')
fruits.extend(vegetables) # appends a list to parent list

In [55]:
fruits

['banana', 'orange', 'avocado', 'strawberry', 'cherry', 'potato', 'tomato']

In [56]:
for i, fruit in enumerate(fruits):
    print(i+1, fruit)

1 banana
2 orange
3 avocado
4 strawberry
5 cherry
6 potato
7 tomato

In [57]:
'pineapple' in fruits

False

In [58]:
# 2d list
meats = ['fish','chicken','beef','mutton']
dairy = ['milk','curd','malai','butter']
market = ['potatoes','tomatoes','onions','chillies']

groceries = [meats, dairy, market]
groceries

[['fish', 'chicken', 'beef', 'mutton'],
 ['milk', 'curd', 'malai', 'butter'],
 ['potatoes', 'tomatoes', 'onions', 'chillies']]

**Exercise:** Write a program that prints the bill of a shopping cart.

In [59]:
foods = []
prices = []
total = 0

while True:
    food = input("Enter name of product or q to quit: ")
    if food.casefold() == 'q':
        break
    else:
        foods.append(food)
        price = float(input("Enter price of product: "))
        prices.append(price)

for price in prices:
    total += price

for i,food in enumerate(foods):
    print(f"{i+1} {food:20} {prices[i]}")

print(f"Total: {total}")

Enter name of product or q to quit:  chocolate
Enter price of product:  150
Enter name of product or q to quit:  oil
Enter price of product:  230
Enter name of product or q to quit:  apple
Enter price of product:  2
Enter name of product or q to quit:  noods
Enter price of product:  80
Enter name of product or q to quit:  q

1 chocolate            150.0
2 oil                  230.0
3 apple                2.0
4 noods                80.0
Total: 462.0

In [60]:
# list comprehension 1
cubes = [i**3 for i in range(11)]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [61]:
# list comprehension 2
cubes = [i**3 for i in range(11) if i%2==0]
cubes

[0, 8, 64, 216, 512, 1000]

In [62]:
# list comprehension 3
cubes = [i**3 if i%2==0 else i**2 for i in range(11)]
cubes

[0, 1, 8, 9, 64, 25, 216, 49, 512, 81, 1000]

### Set

In [63]:
fruits = {'apple','banana','orange','strawberry','mango','kiwi', 'apple'} # set assures unique values only

In [64]:
frootz = {'apple', 'mango', 'cherry'}

In [66]:
len(fruits)
fruits.add('pineapple') # adds in an alphabetical order
fruits.pop() 
fruits.remove('orange')

# mathematical set operations
fruits.intersection(frootz)
fruits.union(frootz)
fruits.issubset(frootz)

False

In [67]:
for fruit in fruits:
    print(fruit)

mango
banana
pineapple
apple

In [68]:
'apple' in fruits

True

### Tuple

In [69]:
fruits = ('apple','banana','orange','strawberry','mango','kiwi')

In [70]:
fruits.index('apple')
fruits.count('kiwi')

1

In [71]:
for fruit in fruits:
    print(fruit)

apple
banana
orange
strawberry
mango
kiwi

In [72]:
'orange' in fruits

True

### Dictionary

In [73]:
capitals = {'USA':'Washington DC','India':'New Delhi','Russia':'Moscow','Saudi Arabia':'Riyadh'}

In [74]:
len(capitals)

capitals.get('USA') # retrieves value from key
capitals.keys()
capitals.update({'India':'Hyderabad'}) # can also add new elements

capitals.pop('Russia') # removes value through key
capitals.popitem() # removes last item (LIFO)

('Saudi Arabia', 'Riyadh')

In [75]:
capitals

{'USA': 'Washington DC', 'India': 'Hyderabad'}

In [76]:
for key, value in capitals.items():
    print(f"{key}: {value}")

USA: Washington DC
India: Hyderabad

In [77]:
# dictionary comprehension 1
temp_C = {'Riyadh':45,'Moscow':6,'Chicago':11,'India':30}
temp_F = {key: round(value*(9/5)+32) for key,value in temp_C.items()}
temp_F

{'Riyadh': 113, 'Moscow': 43, 'Chicago': 52, 'India': 86}

In [78]:
# dictionary comprehension 2
weather = {key: ('Warm' if value>=30 else 'Cool') for key,value in temp_C.items()}
weather

{'Riyadh': 'Warm', 'Moscow': 'Cool', 'Chicago': 'Cool', 'India': 'Warm'}

In [79]:
def check_temp(value):
    if value>35:
        return "Hot"
    elif value>25:
        return "Warm"
    elif value>10:
        return "Cold"
    else:
        return "Very Cold"

In [80]:
# dictionary comprehension 3
weather_detailed = {key: check_temp(value) for key,value in temp_C.items()}
weather_detailed

{'Riyadh': 'Hot', 'Moscow': 'Very Cold', 'Chicago': 'Cold', 'India': 'Warm'}